html,
body {
	background-color: #c86a3f !important;
}

.loginForm_wrapper {
	width: 500px;
	padding: 8% 0 0;
	margin: auto;

	.loginForm {
		position: relative;
		z-index: 1;
		background: #ffffff;
		margin: 0 auto 100px;
		padding: 45px;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

		// loginForm input
		input {
			font-family: "Roboto", sans-serif;
			outline: 0;
			background: #f2f2f2;
			width: 100%;
			border: 0;
			margin: 0 0 15px;
			padding: 15px;
			box-sizing: border-box;
			font-size: 14px;
		}

		// loginForm button
		button {
			font-family: "Roboto", sans-serif;
			text-transform: uppercase;
			outline: 0;
			background: #c86a3f;
			width: 100%;
			border: 0;
			padding: 15px;
			color: #ffffff;
			font-size: 14px;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			margin-top: 1rem;

			&:hover,
			:active,
			:focus {
				background: #793f24;
			}
		}
	}

	.usernameError,
	.passwordError {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 0.6rem;
		color: rgb(200, 53, 53);
		font-weight: bold;
	}
}
