@font-face {
	font-family: Roboto;
	src: url(../../assets/fonts/fonts/ttf/Roboto/Roboto-Medium.ttf);
	font-weight: normal;
}

@font-face {
	font-family: IRANSansX;
	src: url(../../assets/fonts/fonts/woff/IRANSansX-Regular.woff);
	font-weight: normal;
}

table {
	color: #fff !important;
	user-select: none;
	border-collapse: unset !important;
	background-color: #171717;
	border-radius: 6px;
	box-shadow: 0 0 20px 0 rgb(22, 22, 22), 0 5px 5px 0 rgb(22, 22, 22);
	width: 70%;

	.phone-number {
		font-family: IRANSansX !important;
		font-weight: normal !important;
	}

	.email {
		font-family: Roboto !important;
		font-weight: normal !important;
	}

	th {
		width: auto;
		font-size: 12px;
		padding: 6px 0;
		// background-color: rgba(255, 255, 255, 0.1);
		color: #f98b2f;

		&:first-child {
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
		}

		&:last-child {
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		}
	}

	td {
		padding: 6px 0;
		margin-top: 6px;
	}

	div {
		font-size: 12px;
	}

	.avatar {
		width: 40px;
		height: 40px;
		border-radius: 100%;
	}
}
