.nextButtonStyle,
.prevButtonStyle {
	border: none;
	border-radius: 6px;
	margin: 5px;
	font-size: 12px;
	padding: 8px;
	color: #fff;
}

.nextButtonStyle {
	background-color: #f98b2f;
	// box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(229, 228, 228, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease-in-out;
	&:hover {
		background-color: #c76c22;
	}
}
.prevButtonStyle {
	background-color: #f98b2f;
	// box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(229, 228, 228, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease-in-out;
	&:hover {
		background-color: #c76c22;
	}
}

.footer-buttons {
	display: flex;
	justify-content: flex-end;
}
