.modalContent {
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.tableButton {
	border: none;
	border-radius: 6px;
	width: 27px;
	height: 27px;
	margin-left: 5px;
	background-color: #19307e;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(229, 228, 228, 0.24);
	transition: color 0.2s ease, background-color 0.2s ease-in-out;

	&:hover {
		background-color: #12225a;
	}

	img {
		width: 100%;
	}
}

.ReactModal__Overlay {
	opacity: 0;
	transition: all 100ms linear;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.ReactModal__Content {
	inset: 190px !important;
}
