.Step {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 80vh;

	.icon_wrapper {
		a {
			width: 40px !important;
			height: 40px !important;
		}
	}

	.Form_wrapper {
		width: 500px;
		height: 100%;

		.Form {
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 12px;

			.input_wrapper {
				width: 70px;
				height: 70px;
				border: none !important;
				background-color: #dcdcdc;
				border-radius: 100%;
				margin-bottom: 1rem;
				margin-top: 5rem;
			}

			.avatarInput {
				position: absolute;
				background: transparent;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}

			.edit_icon {
				position: absolute;
				bottom: 0;
				right: 0;
			}

			.imageInput {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				opacity: 0;
				z-index: 2;
				border-radius: 100%;
			}

			.preview {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border-radius: 100%;
				mix-blend-mode: overlay;

				width: 70px !important;
				height: 70px !important;
				img {
					width: 100%;
					height: 100%;
					border-radius: 100%;
					border: none !important;
				}
			}

			.textInput {
				font-family: "Roboto", sans-serif;
				outline: 0;
				background: #f0f0f0;
				width: 100%;
				border: 0;
				margin: 0 0 15px;
				padding: 10px;
				box-sizing: border-box;
				font-size: 12px;
				border-radius: 6px;
			}

			// loginForm button
			button {
				font-family: "Roboto", sans-serif;
				text-transform: capitalize;
				outline: 0;
				background-color: #d33f09;
				// box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(229, 228, 228, 0.24);
				transition: color 0.2s ease, background-color 0.2s ease-in-out;
				border: 0;
				padding: 4px 15px;
				color: #ffffff;
				font-size: 12px;
				border-radius: 6px;
				cursor: pointer;
				margin-top: 1rem;
				margin-bottom: 1rem;

				&:hover,
				:active,
				:focus {
					background: #b6611b;
				}
			}
		}

		.usernameError,
		.passwordError {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: 0.6rem;
			color: rgb(200, 53, 53);
			font-weight: bold;
		}
	}

	.form_overFlow {
		@media (max-height: 80vw) {
			overflow-y: scroll;
		}
	}
}
