.holy-grail {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.holy-grail__left {
	background-color: #141516 !important;
	box-shadow: 7px 0 9px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.holy-grail__main {
	/* Take the remaining height */
	flex-grow: 1;

	/* Layout the left sidebar, main content and right sidebar */
	display: flex;
	flex-direction: row;
	background-color: inherit !important;
	height: 90vh;
}

.holy-grail__middle {
	/* Take the remaining width */
	width: 85%;
	margin-left: auto;
	@media (max-height: 900px) {
		overflow-y: scroll;
	}
}

.header {
	align-self: flex-end;
	width: 90%;
	background-color: #19307e;
	margin: 0 !important;
}

.sidebar {
	width: 10%;
	background-color: #fff;
	height: 100vh;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
}

.list-item {
	a {
		background-color: #e9e9eb53;
		padding: 0.3rem;
		margin-bottom: 0.5rem;
		border-top-right-radius: 6px !important;
		border-bottom-right-radius: 6px !important;
		cursor: pointer;
		display: flex;
		flex: 0 0 100%;
		outline: none !important;
		transition: color 0.2s ease, background-color 0.2s ease;
		text-align: center;
		justify-content: flex-end;
		text-decoration: none !important;
		flex-direction: column;
		color: #fff !important;
		position: relative;
		font-size: 12px;

		&:hover {
			background-color: #19307e !important;
			// color: #141516 !important;
		}
	}

	.nfcLogo {
		width: 100px;
	}
}
