@font-face {
	font-family: Roboto;
	src: url(../assets/fonts/fonts/ttf/Roboto/Roboto-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Roboto;
	src: url(../assets/fonts/fonts/ttf/Roboto/Roboto-Bold.ttf);
	font-weight: bold;
}

.holy-grail {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.holy-grail__left {
	background-color: #253544;
	box-shadow: 7px 0 9px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.holy-grail__main {
	/* Take the remaining height */
	flex-grow: 1;
	background-color: #f1f7fc;

	/* Layout the left sidebar, main content and right sidebar */
	display: flex;
	flex-direction: row;
	height: 90vh;
}

.holy-grail__middle {
	/* Take the remaining width */
	width: 85%;
	margin-left: auto;
	@media (max-height: 900px) {
		overflow-y: scroll;
	}
}

.header {
	align-self: flex-end;
	width: 85%;
	background-color: #fff;
	box-shadow: 0px 1px 1px 0 rgba(170, 167, 167, 0.2), 0 0px 5px 0 rgba(198, 198, 198, 0.25);
	z-index: 1;
	margin: 0 !important;

	.header_title {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		padding: 1rem;
		text-transform: capitalize;
		gap: 10px;
		font-size: 12px;
		font-family: Roboto !important;
		font-weight: bold;

		.avatar-name {
			line-height: 14px;
		}

		.logoWrapper {
			width: 20px;
			cursor: pointer;
			img {
				width: 100%;
			}
		}
		.avatar {
			width: 40px;
			height: 40px;
			img {
				width: 100%;
				border-radius: 100%;
				box-shadow: 0px 1px 1px 0 rgba(255, 252, 252, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.451);
			}
		}
	}
}

.sidebar {
	width: 15%;
	height: 100vh;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	// padding: 1rem;
	font-family: Roboto !important;
	font-weight: normal;
}

.list-item {
	a {
		// background-color: #e9e9eb53;
		padding: 0.3rem;
		margin-bottom: 0.5rem;
		// border-top-right-radius: 6px !important;
		// border-bottom-right-radius: 6px !important;
		cursor: pointer;
		display: flex;
		flex: 0 0 100%;
		outline: none !important;
		transition: color 0.2s ease, background-color 0.2s ease;
		text-align: center;
		justify-content: flex-end;
		text-decoration: none !important;
		flex-direction: column;
		color: #fff !important;
		position: relative;
		font-size: 16px;

		&:hover {
			background-color: #1e2530 !important;
			// color: #141516 !important;
		}
	}

	.nfcLogo {
		width: 100px;
	}
}
